<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Hello from ejs server</h1>
<div>
    <form action="/url" method="POST">
        <label for="Enter your original url"></label>
        <input type="text" name="url" placeholder="enter url">
        <button type="submit" >Generate</button>
    </form>

</div>
<% if (locals.id) { %>
 <p>URL GENERATED IS : https://localhost:8001/redirect/<%= id %></p>
<% } %>

<div>
    <% if (locals.urls && locals.urls.length>0) { %>
        <p>This is the beginning of the table</p>
        <table>
            <thead>
                <th>S.NO</th>
                <th>Short id</th>
                <th>redirect id</th>
                <th>Clicks</th>
            </thead>

            <tbody>
                <% urls.forEach((url,index) => { %>
                 <tr>
                    <td><%= index+1 %></td>
                    <td><%= url.shortId %></td>
                    <td><%= url.redirectURL %></td>
                    <td><%= url.visitedHistory.length %></td>
                 </tr>
                <% }) %>
            </tbody>
        </table>
    <% } 
    else{%>
    <p>No urls fOUND</p>
<%}    %>
</div>
</body>
</html>